table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align:middle;
    text-align:center;
    font-family: 'Michroma';font-size: 24px;
  }

  th, td {
    padding: 2px;
  }

  